@import '~bootstrap/scss/bootstrap';

$miami-yellow: #ffd319;

$sunset-orange:#ff901f;

$yuppy-rose:#ff2975;

$disco-purple:#f222ff;

$byzantium-violet:#8c1eff;

$eighties-border: double 4px;

body {
  background-color: $yuppy-rose;
}

.login {
  border: solid 3px black;

  width: 30%;

  padding: 15%;
}

.col-sm {
  border: solid 3px black;

  padding: 10%;
}

.row > div:hover {

  background-color: red;

}


.tilePlaced {
  font-size: 100px;

  color: $sunset-orange;
}

.success {
  border: $eighties-border $miami-yellow;
}

.failure {
  border: $eighties-border $byzantium-violet;
}
