@import '~bootstrap/scss/bootstrap';

.login {
  border: solid 3px black;

  width: 30%;

  padding: 15%;
}

.col {
  border: solid 3px black;

  padding: 10%;
}

.row > div:hover {

  background-color: red;

}


.tilePlaced {
  font-size: 100px;

  color: green;
}
