@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

$miami-yellow: #ffd319;

$sunset-orange:#ff901f;

$yuppy-rose:#ff2975;

$disco-purple:#f222ff;

$byzantium-violet:#8c1eff;

$eighties-border: dashed 10px;

body {
  background-color: $yuppy-rose;

  color: white;

  font-family: 'Press Start 2P', cursive;
}

.menu {

  background-color: $disco-purple;

  border: double 15px white;

  width: 30%;
}

input[type=submit] {

  background-color: $byzantium-violet;

  border: 0;

  text-decoration: none;

}

input[type=button] {
  background-color: $byzantium-violet;

  border: 0;

  text-decoration: none;

}

.col-sm {
  display: flex;

  border: $eighties-border white;

  padding: 5%;

  align-items: center;

  background-color: $disco-purple
}

.tilePlaced {
  font-size: 100px;

  color: $sunset-orange;
}

.success {
  border: $eighties-border $miami-yellow;
}

.failure {
  border: $eighties-border $byzantium-violet;
}
